{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Nous contacter</h1>
</div>
<div class="container">
    <p>Chaussee Prince Louis Rwagasore, Bujumbura</p>
    <div class="row" style="margin-left : 2px;">
        <p>Téléphone :
            <ul>
            <li>+257 62 422 350</li>
            <li>+257 68 092 767</li>
            </ul>
        </p>
    </div>
</div>
{% endblock %}